.card{
  max-width: 800px;
  margin: 0 auto; padding: 10px;
  border: 1px solid rgb(47, 2, 77)
}
li{
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;

  .card:hover{
    border: 1px solid blue;
  }
}

ol{
  padding: 0;
}
